[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
pypdf = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.8"
